streamlit
python-dotenv
PyPDF2
Pillow
pymupdf
langchain
langchain-community  # For additional LangChain community resources
faiss-cpu
transformers
torch
easyocr
numpy
scikit-learn
google-generative-ai
